body {
  font-size:larger;

  background: url("../img/background.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;

}

#narrator {
  display: none;
  
  
  }

#menu {
margin-top: 40%;


}

.end {
  font-size: 110px;
  color: #880465;
  text-shadow: 3px 2px 2px rgb(0, 0, 0) !important;
margin-left: auto;
}



.play > h1 {

font-size: 110px;
    
color: #880465;
  text-shadow: 3px 2px 2px rgb(0, 0, 0) !important;
  cursor: pointer;
  line-height: 120px;
}

.play > h1:hover {
  font-size: 120px;
  color: rgb(87, 0, 64);
  text-shadow: 5px 8px 2px rgb(0, 0, 0) !important;

}



#language {
margin-top: 7%;
  margin-left:0% !important;
font-size: larger;
}


#narrator {
height: 150px;
font-size: 20px;
padding-left: 10px;
background-image: linear-gradient(rgb(245, 221, 10), rgb(253, 249, 36));
color: rgb(0, 0, 0);
font-size: 22px;

}

.narrator {

color: #880465;;

}

.pablo {
color: rgb(0, 138, 138);

}

#options {
margin-top: 20px;
  margin-left: 18%;

}

.btn {
color: black;
width: 250px;
height: 80px;
background-color:rgb(245, 221, 10 );
margin-left: 7%;
font-size: large;

}
.btn:hover {
border: solid 2px rgb(0, 0, 0);
background-color: rgb(253, 249, 36 );
color: rgb(7, 6, 6);
}

#controls {

  display: none;
  
  }

@media only screen and (max-width: 800px){
  #controls {

    display: none;
    
    }
}




@media only screen and (max-width: 600px) {
body {

  background: url("../img/bgmobile.png") no-repeat center center fixed;
}

#menu {
margin-top: 60%;


}
canvas {
height: 380px;
width: 470px;

}

.btn {
  width: 150px;
  margin-left: 3% !important;

font-size: 25px;
}

#controls {
display: block;

}

#right,#left {
width: 200px;
margin-left: 25px !important;

}





}

@media only screen and (min-width: 800px) {

  #controls {
    display: block;
    
    }

}



@media only screen and (max-width: 480px) {
  body {
  
    background: url("../img/bgmobile.png") no-repeat center center fixed;
  }
  
  #menu {
  margin-top: 60%;
  
  
  }
  canvas {
  height: 280px;
  width: 350px;
  
  }
  
  .btn {
    width: 100px;
    margin-left: 3% !important;
  
  font-size: 25px;
  }
  
  #controls {
  display: block;
  
  }
  
  #right,#left {
  width: 150px;
  margin-left: 25px !important;
  
  }
  
  .play > h1 {
font-size: 80px !important;

}  
.play > h1:hover {
  font-size: 100px !important;
  
  }  
  
  }