body {
  font-size:larger;

  background: url("../img/background.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;

}

#narrator {
  display: none;
  
  
  }

#menu {
margin-top: 450px;


}

.end {
  font-size: 110px;
  color: #880465;
  text-shadow: 3px 2px 2px rgb(0, 0, 0) !important;
margin-left: auto;
}



.play > h1 {

font-size: 110px;
    
color: #880465;
  text-shadow: 3px 2px 2px rgb(0, 0, 0) !important;
  cursor: pointer;
  line-height: 120px;
}

.play > h1:hover {
  font-size: 120px;
  color: rgb(87, 0, 64);
  text-shadow: 5px 8px 2px rgb(0, 0, 0) !important;

}



#language {
margin-top: 7%;
  margin-left:0% !important;
font-size: larger;
}


#narrator {
height: 150px;
font-size: 20px;
padding-left: 10px;
background-image: linear-gradient(rgb(245, 221, 10), rgb(253, 249, 36));
color: rgb(0, 0, 0);
font-size: 22px;

}

.narrator {

color: #880465;;

}

.pablo {
color: rgb(0, 138, 138);

}

#options {
margin-top: 20px;
  margin-left: 18%;

}

.btn {
color: black;
width: 250px;
height: 80px;
background-color:rgb(245, 221, 10 );
margin-left: 7%;
font-size: large;

}
.btn:hover {
border: solid 2px rgb(0, 0, 0);
background-color: rgb(253, 249, 36 );
color: rgb(7, 6, 6);
}

#controls {

  display: none;
  
  }


  @media only screen and (max-width: 1200px){
   
      canvas {
        height: 420px;
        width: 920px;
        
        }
  
  
    }

    @media only screen and (max-width: 1200px){
   
      canvas {
        height: 420px;
        width: 900px;
        
        }
  
        .btn {
          width: 200px;
          margin-left: 3% !important;
        
        
        }
    }

    @media only screen and (max-width: 1000px){
   
      canvas {
        height: 420px;
        width: 750px;
        
        }
  
      
    }



   @media only screen and (max-width: 800px){

    canvas {
      height: 420px;
      width: 700px;
      
      }

      .btn {
        width: 150px;
        margin-left: 3% !important;
      
      
      }

  }

  @media only screen and (max-width: 700px){
    #controls {
  
      display: none;
      
      }
  
      canvas {
        height: 420px;
        width: 500px;
        
        }
  
       
    
  
    }



 @media only screen and (max-width: 600px) {
  body {
    font-size:larger;
  
    background: url("../img/bgmobile.png") no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
  
  }

#menu {
margin-top: 70%;
}


canvas {
height: 370px;
width: 470px;

}

.btn {
  width: 150px;
  margin-left: 3% !important;

font-size: 25px;
}

#options {
  margin-left: 0px !important;
}

#right,#left {
  width: 170px;
  margin-left: 35px !important;
  
  }


}

@media only screen and (max-width: 480px) {

  canvas {
    height: 270px;
    width: 450px;
    
    }


    #right,#left {
      width: 170px;
      margin-left: 35px !important;
      
      }

      #options {
        margin-left: 0px !important;
      }

     #options > .btn {
      width: 170px;
      margin-left: 35px !important;
      font-size: 25px;
      }


}

@media only screen and (max-width: 380px) {

  canvas {
    height: 180px;
    width: 330px;
    
    }


    #right,#left {
      width: 120px;
      margin-left: 35px !important;
      
      }

      #options {
        margin-left: 0px !important;
      }

     #options > .btn {
      width: 120px;
      margin-left: 35px !important;
      font-size: 25px;
      }


}


