body {
background-image: url("../img/background.jpg");


font-size:larger;

}

#narrator {
  display: none;
  
  
  }


.end {
  font-size: 110px;
  color: #880465;
  text-shadow: 3px 2px 2px rgb(0, 0, 0) !important;
}



#play > h1 {

font-size: 110px;
padding-top: 40%;
    
color: #880465;
  text-shadow: 3px 2px 2px rgb(0, 0, 0) !important;
  cursor: pointer;

}

#play > h1:hover {
  font-size: 120px;
  color: rgb(87, 0, 64);
  text-shadow: 5px 8px 2px rgb(0, 0, 0) !important;

}




#narrator {
height: 150px;
font-size: 20px;
padding-left: 10px;
background-image: linear-gradient(rgb(245, 221, 10), rgb(253, 249, 36));
color: rgb(0, 0, 0);
font-size: 22px;

}

.narrator {

color: #880465;;

}


#options {
margin-top: 20px;
  margin-left: 18%;

}

.btn {
color: black;
width: 250px;
height: 80px;
background-color:rgb(245, 221, 10 );
margin-left: 7%;
font-size: large;

}
.btn:hover {
border: solid 2px rgb(0, 0, 0);
background-color: rgb(253, 249, 36 );
color: rgb(7, 6, 6);
}

